.card {
  position: relative;
  overflow: visible;
  padding: var(--mantine-spacing-xl);
  padding-top: calc(var(--mantine-spacing-xl) * 1.5 + 20px);
}

.icon {
  position: absolute;
  top: -20px;
  left: calc(50% - 30px);
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  line-height: 1;
}

.results {
  width: 100%;
}

.statBox {
  margin-block: 12px;
}

.statBox:first-of-type {
  border-right: 2px solid white;
}

.statBox:last-of-type {
  border-left: 2px solid white;
}

.roundedLeft {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.roundedRight {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.blueText {
  color: #228be6;
}

@media (max-width: 30em) {
  .results {
    flex-direction: column;
  }

  .statBox {
    margin-block: 0;
    margin-inline: 12px;
  }

  .statBox:first-of-type {
    border-right: none;
    border-bottom: 2px solid white;
  }

  .statBox:last-of-type {
    border-left: none;
    border-top: 2px solid white;
  }
}
