.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}

.card {
  background-color: var(--mantine-color-body);
  width: 100%;
  max-width: 600px;
}

.avatar {
  border: 4px solid var(--mantine-color-body);
}
