.footer {
  margin-top: 1rem;
  width: 100%;
  background-color: lightgray;
  position: sticky;
  bottom: 0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;

  @media (max-width: mantine-breakpoint-xs) {
    flex-direction: column;
  }
}
